.students {
  padding: 47rem 0 100rem;
  @media (max-width: $sm) {
    padding: 40rem 0;
  }
  &__container {
  }
  &__title {
    margin: 0 0 74rem;
    text-align: center;
    @media (max-width: $sm) {
      margin-bottom: 40rem;
    }
  }
  &__list {
    margin: 0 -42rem -84rem;
    padding-bottom: 59rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: $sm) {
      margin: 0 -10rem -70rem;
    }
    @media (max-width: $xs) {
      margin-bottom: -60rem;
    }
    @media (max-width: 480px) {
      margin-bottom: -40rem;
    }
    &-col {
      max-width: 25%;
      margin-bottom: 84rem;
      padding: 0 42rem;
      flex: 0 0 25%;
      @media (max-width: $sm) {
        max-width: 50%;
        margin-bottom: 70rem;
        padding: 0 10rem;
        flex-basis: 50%;
      }
      @media (max-width: $xs) {
        margin-bottom: 60rem;
      }
      @media (max-width: 480px) {
        margin-bottom: 40rem;
      }
      &.is-hidden {
        display: none;
      }
    }
    &-card {
    }
  }
  &__footer {
    text-align: center;
    &-show-more {
      font-size: var(--fs-4);
      &.is-hidden {
        display: none;
      }
    }
  }
}